/* Reset base */
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

/* App prende tutta altezza */
.App {
  display: flex;
  flex-direction: column;
  height: 100%;
}

/* Navbar non deve ridurre altezza ma stare in cima */
.navbar {
  flex-shrink: 0;
}

/* Main content prende tutto lo spazio rimanente */
.main-content {
  flex-grow: 1;
  overflow-y: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  width: 100%;
  max-width: 100% !important;

  display: flex;
  flex-direction: column;
  justify-content: center;  /* vertical center */
  /* align-items: stretch; default */
  text-align: center;       /* testo centrato */
}

